.body {
  font-family: "Avenir Next";
  background-color: rgb(220, 221, 225);
}

li {
  list-style: none;
}

.header {
  background-color: #2f5167;
  color: #fff;
  height: 90px;
}

.header-logo {
  float: left;
  font-size: 36px;
  padding: 20px 40px;
}

.header-list li {
  float: right;
  padding: 33px 20px;
}

.main {
  padding: 100px 80px;
}

.copy-container h1 {
  font-size: 140px;
  height: 50px;
}

.copy-container h2 {
  font-size: 60px;
  margin-bottom: 50px;
  margin-top: 50px;
  height: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

.copy-container span {
  color: #ff4a4a;
}

.contents {
  height: 700px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 150px;
  margin-right: 150px;
}

.section-title {
  border-bottom: 2px solid #2f5167;
  font-size: 20px;
  padding-bottom: 15px;
  margin-bottom: 50px;
  color: rgb(53, 59, 72);
  font-family: "Courier New", Courier, monospace;
}

.contents-item {
  float: left;
  margin-right: 40px;
}
.contents-item img {
  width: 300px;
  margin-top: 30px;
}

.contents-item p {
  font-size: 24px;
  margin-top: 30px;
  height: 30px;
  width: 30px;
}

.contact-form {
  padding-top: 100px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 150px;
  margin-right: 150px;
  height: 100px;
}

.footer {
  background-color: #2f5167;
  color: #fff;
  height: 120px;
  padding: 40px;
}

.footer-logo {
  float: left;
  font-size: 32px;
}

.footer-list {
  float: right;
}

.footer-list li {
  padding-bottom: 20px;
}
