/* CSS styling goes here */
/* Fonts */

/* Colors */




/* General */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Header */


/* Main */


/* Body */


/* Footer */
.footer {
    background-color: #e17055;
    color: #fff;
    text-align: center;
    height: 180px;
    padding: 20px;
}

.footer-follow {
    font-size: 26px;
}

.footer-flist {
    margin: 5px 0;
}

.footer-logo {
    font-size: 38px;
    padding-top: 30px;
}

.btn {
    padding: 5px 5px;
    color: white;
    display: inline-block;
    opacity: 0.9;
    border-radius: 4px;
    font-size: 16px;
  }
  
.btn:hover {
    opacity: 1;
  }
  
.fa {
    margin-right: 5px;
  }

.copyright {
    padding-top: 10px;
    font-size: 10px;
}

/* Media Query (Responsive) */
