/* CSS styling goes here */
/* Fonts */

/* Colors */




/* General */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Header */


/* Main */


/* Body */


/* Footer */
<div class="footer">
    <div class="footer-follow">Ikuti Kami</div>
    <div class="footer-flist">
      <a href="#" class="btn facebook"><i class="fa fa-facebook"></i></a>
      <a href="#" class="btn instagram"><i class="fa fa-instagram"></i></a>
      <a href="#" class="btn twitter"><i class="fa fa-twitter"></i></a>
    </div>

    <div class="footer-logo">BLANJALAKU</div>
    <p class="copyright"><i class="fa fa-copyright"> 2022 BLANJALAKU, Indonesia</i></p>
    
  </div>

/* Media Query (Responsive) */
